<div id="content_actions">		
	<div class="menu_partager_top">
		<div class="btn_menu btn_partager">
			<ul class="list_partager">
				<li class="p_facebook">
					<a title="Share on Facebook" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),'facebook-share-dialog','width=626,height=436'); return false;" href="#"></a>
				</li>
				<li class="p_twitter">
					<a title="Share on Twitter" href="javascript:(function(){window.twttr=window.twttr||{};var D=550,A=450,C=screen.height,B=screen.width,H=Math.round((B/2)-(D/2)),G=0,F=document,E;if(C>A){G=Math.round((C/2)-(A/2))}window.twttr.shareWin=window.open('http://twitter.com/share','','left='+H+',top='+G+',width='+D+',height='+A+',personalbar=0,toolbar=0,scrollbars=1,resizable=1');E=F.createElement('script');E.src='http://platform.twitter.com/bookmarklets/share.js?v=1';F.getElementsByTagName('head')[0].appendChild(E)}());"></a>
				</li>
				<li class="p_mail">
					<a title="Share by email" href="mailto:&subject=Share by email : Blinds & shades"></a>
				</li>
			</ul>
		</div>
	</div>
	<div class="btn_menu" id="btn_imprimer">
		<ul class="list_partager">
			<li class="p_print">
				<a title="Print" onclick="window.print();" href="javascript:void(0);"></a>
			</li>
		</ul>
	</div>
<!-- 	<div class="btn_menu" id="btn_blocnotes" data-original-title="My notepad" data-placement="top" data-toggle="tooltip">
		<ul class="list_partager">
			<li class="p_notepad">
				<a title="My notepad" href="javascript:void(0);"></a>
			</li>
		</ul>
	</div>
 -->
 </div>