.row
	.col-md-4.col-lg-4.col-sm-6.col-xs-6.col-docs
		.row
			.col-md-4.col-xs-4.col-sm-4.col-lg-4
				img(src="img/docs/GLYDEA_60e_WT_STAR.jpg")
			.col-md-8.col-xs-8.col-sm-8.col-lg-8
				h5 GLYDEA®
				ul.pdf
					li
						a(href="")
							| Brochure
					li
						a(href="")
							| Databook
					li
						a(href="")
							| Instructions
					li
						a(href="")
							| Literature
	.col-md-4.col-lg-4.col-sm-6.col-xs-6.col-docs
		.row
			.col-md-4.col-xs-4.col-sm-4.col-lg-4
				img(src="img/docs/TELIS_RTS.jpg")
			.col-md-8.col-xs-8.col-sm-8.col-lg-8
				h5 TELIS RTS
				ul.pdf
					li
						a(href="")
							| Brochure
					li
						a(href="")
							| Databook
					li
						a(href="")
							| Instructions
					li
						a(href="")
							| Literature
	.col-md-4.col-lg-4.col-sm-6.col-xs-6.col-docs
		.row
			.col-md-4.col-xs-4.col-sm-4.col-lg-4
				img(src="img/docs/TELIS_MODULIS_RTS.jpg")
			.col-md-8.col-xs-8.col-sm-8.col-lg-8
				h5 GTELIS MODULIS RTS
				ul.pdf
					li
						a(href="")
							| Brochure
					li
						a(href="")
							| Databook
					li
						a(href="")
							| Instructions
					li
						a(href="")
							| Literature
	.col-md-4.col-lg-4.col-sm-6.col-xs-6.col-docs
		.row
			.col-md-4.col-xs-4.col-sm-4.col-lg-4
				img(src="img/docs/TELIS_16_RTS.jpg")
			.col-md-8.col-xs-8.col-sm-8.col-lg-8
				h5 TELIS 16 RTS
				ul.pdf
					li
						a(href="")
							| Brochure
					li
						a(href="")
							| Databook
					li
						a(href="")
							| Instructions
					li
						a(href="")
							| Literature
	.col-md-4.col-lg-4.col-sm-6.col-xs-6.col-docs
		.row
			.col-md-4.col-xs-4.col-sm-4.col-lg-4
				img(src="img/docs/TELIS_CHRONIS_RTS.png")
			.col-md-8.col-xs-8.col-sm-8.col-lg-8
				h5 TELIS 1 CHRONIS RTS
				ul.pdf
					li
						a(href="")
							| Brochure
					li
						a(href="")
							| Databook
					li
						a(href="")
							| Instructions
					li
						a(href="")
							| Literature
