.panel-group#accordion(role="tablist", aria-multiselectable="true")
	.panel.panel-default
		.panel-heading#heading1(role="tab")
			h4.panel-title
				a(href="#collapse1", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="true", aria-controls="collapse1") 1. Как управляется карниз с электроприводом Somfy Glydea?
		.panel-collapse.collapse.in#collapse1(role="tabpanel", aria-labelledby="heading1")
			.panel-body
				|Существует несколько способов управления электрокарнизом Glydea:
				ul
					li С помощью радио управления Somfy RTS(переносной пульт на 1, 5, 6, 16 каналов или настенный одноканальный переключатель). При этом к карнизу подводится один трехжильный кабель 3х1,5 мм, запитанный на 220 вольт
					li Управление осуществляется от «Умного дома» по «сухим контактам» (Dry contact technology). В данном случае к карнизу прокладывается два провода: один трехжильный кабель 3х1,5 мм, запитанный на 220 вольт и провод витая пара, который идет на переключающее устройство системы “Умный дом”.
					li Силовое управление 220 вольт методом перекидывания переключателем двух фаз, одна фаза на отрытие, вторая на закрытие моторизованных штор. К мотору прокладывают провод четырехжильный 4х1,5 мм, идущий через настенный переключатель в электрощит. Выключатель может быть использован любой фирмы производителя электрооборудования, но из серии для электроприводов штор, жалюзи и рольставен, т.к. у данных переключателей используется в конструктиве блокировка одновременного замыкания двух фаз, во избежания выхода из строя электромотора для штор.
					li Еще, существует возможность совмещения управлять электроприводом Glydea от Somfy радиопультом и «сухими контактами» одновременно. Например мы можем подключить к электрокарнизу радиоприемник сигнала и управлять от радиопульта и, обжав провод витая пара специальным коннектором RJ 12, с помощью умного дома или настенного слаботочного переключателя.
				.text-danger Внимание! Одновременно управлять силовым переключателем и радиопультом невозможно. Т.к. используются разные типы двигателей.
	.panel.panel-default
		.panel-heading#heading2(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse2", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse2") 2. В чем преимущество управления от радиопульта?
		.panel-collapse.collapse#collapse2(role="tabpanel", aria-labelledby="heading2")
			.panel-body
				| Радиопульт самый удобный и распространенный тип управления карниза с электромотором Glydea:
				ul
					li Нет необходимости направлять пульт в сторону привода как при ИК управлении.
					li Радио технология RTS от Somfy работает на собственной частоте 433 Мегагерц и имеет высокую дальность срабатывания сигнала.
					li Используется двигатель с маркировкой DCT у которого есть функции плавного старта и стопа. Функция «Тач моушн» - автоматический запуск привода при ручном натяжении штор. Настраиваемые электронные концевые положения.
					li Возможность в дальнейшем использовать все приводы от компании Somfy вместе по радио технологии RTS и Home Motion by Somfy.
					li Использование функции MY – предпочтительного промежуточного положения штор.	
	.panel.panel-default
		.panel-heading#heading5(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse3", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse3") 3. Какова гарантия на электрокарниз?
		.panel-collapse.collapse#collapse3(role="tabpanel", aria-labelledby="heading3")
			.panel-body
				|Наша компания - официальный партнер компании Somfy и участник международной программы Somfy-эксперт, благодаря чему мы обеспечиваем полное гарантийное обслуживание в течении 5 лет со дня продажи.
	.panel.panel-default
		.panel-heading#heading4(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse4", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse4") 4. Срок изготовления моторизованных карнизов?
		.panel-collapse.collapse#collapse4(role="tabpanel", aria-labelledby="heading12")
			.panel-body
				|Срок изготовления карнизов с электроприводом Somfy glydea составляет 2-3 рабочих дня.
	.panel.panel-default
		.panel-heading#heading9(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse5", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse5") 5. Максимальный вес штор? Максимальные габариты карниза?
		.panel-collapse.collapse#collapse5(role="tabpanel", aria-labelledby="heading5")
			.panel-body
				|Максимальный вес штор для карниза с электроприводом Somfy glydea 35 составляет 30 кг при длине карниза до 3 метров. Для карниза Somfy glydea 60 максимальная нагрузка 50 кг для карниза до 4 метров. При изгибе карниза по радиусу максимально допустимая нагрузка на электромотор снижается на 40-50%, при изготовлении сегментных эркеров  до 20% на каждый загиб от 90 до 135 градусов.
	.panel.panel-default
		.panel-heading#heading9(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse6", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse6") 6. Гнется ли карниз?
		.panel-collapse.collapse#collapse6(role="tabpanel", aria-labelledby="heading6")
			.panel-body
				|Карниз для штор с электроприводом Somfy, можно изогнуть под 90 градусов, в эркер по радиусной дуге длиной до 10 м, либо в сегментный эркер от 1 до 4 загибов в одном направлении.
	.panel.panel-default
		.panel-heading#heading9(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse7", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse7") 7. Как оформить заказ?
		.panel-collapse.collapse#collapse7(role="tabpanel", aria-labelledby="heading7")
			.panel-body
				p Для оформления заказа, вам необходимо сделать запрос на наш электронный адрес somfyglydea@gmail.com с указанием ваших контактных данных, адреса установки электрокарнизов, примерного описания заказа. Либо связаться по телефону 7 495 505 18 65 и обсудить с менеджером все детали заказа.
				p После чего, наш специалист бесплатно подъедет к вам на замер электрокарнизов для штор и окажет полную техническую консультацию по местам вывода проводов питания, возможных видов управления и составит смету вашего заказа.
				p Согласно договору, предоплата за изделия и автоматику составляет 100% от стоимости товара, доплата осуществляется после подписания акта сдачи-приемки и составляет 100% стоимости всех работ по установке, подключению и настройке электрокарнизов.
	.panel.panel-default
		.panel-heading#heading9(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse8", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse8") 8. Как осуществляется установка?
		.panel-collapse.collapse#collapse8(role="tabpanel", aria-labelledby="heading8")
			.panel-body
				|Мы предоставляем всем нашим клиентам два вида установки карнизов Somfy Glydea: установка полностью нашими специалистами, включая подключение и настройку моторов, или шеф-монтаж нашим специалистом(подробное ведение монтажных работ и помощь в настройке карнизов с электроприводом для ваших рабочих-монтажников)
