.panel-group#accordion(role="tablist", aria-multiselectable="true")
	.panel.panel-default
		.panel-heading#heading1(role="tab")
			h4.panel-title
				a(href="#collapse1", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="true", aria-controls="collapse1") 1. Как управляется карниз с электроприводом Somfy Glydea?
		.panel-collapse.collapse.in#collapse1(role="tabpanel", aria-labelledby="heading1")
			.panel-body
				|Существует несколько способов управления электрокарнизом Glydea:
				ul
					li С помощью радио управления Somfy RTS(переносной пульт на 1, 5, 6, 16 каналов или настенный одноканальный переключатель). При этом к карнизу подводится один трехжильный кабель 3х1,5 мм, запитанный на 220 вольт
					li Управление осуществляется от «Умного дома» по «сухим контактам» (Dry contact technology). В данном случае к карнизу прокладывается два провода: один трехжильный кабель 3х1,5 мм, запитанный на 220 вольт и провод витая пара, который идет на переключающее устройство системы “Умный дом”.
					li Силовое управление 220 вольт методом перекидывания переключателем двух фаз, одна фаза на отрытие, вторая на закрытие моторизованных штор. К мотору прокладывают провод четырехжильный 4х1,5 мм, идущий через настенный переключатель в электрощит. Выключатель может быть использован любой фирмы производителя электрооборудования, но из серии для электроприводов штор, жалюзи и рольставен, т.к. у данных переключателей используется в конструктиве блокировка одновременного замыкания двух фаз, во избежания выхода из строя электромотора для штор.
					li Еще, существует возможность совмещения управлять электроприводом Glydea от Somfy радиопультом и «сухими контактами» одновременно. Например мы можем подключить к электрокарнизу радиоприемник сигнала и управлять от радиопульта и, обжав провод витая пара специальным коннектором RJ 12, с помощью умного дома или настенного слаботочного переключателя.
				.text-danger Внимание! Одновременно управлять силовым переключателем и радиопультом невозможно. Т.к. используются разные типы двигателей.
	.panel.panel-default
		.panel-heading#heading2(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse2", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse2") 2. В чем преимущество управления от радиопульта?
		.panel-collapse.collapse#collapse2(role="tabpanel", aria-labelledby="heading2")
			.panel-body
				| Радиопульт самый удобный и распространенный тип управления карниза с электромотором Glydea:
				ul
					li Нет необходимости направлять пульт в сторону привода как при ИК управлении.
					li Радио технология RTS от Somfy работает на собственной частоте 433 Мегагерц и имеет высокую дальность срабатывания сигнала.
					li Используется двигатель с маркировкой DCT у которого есть функции плавного старта и стопа. Функция «Тач моушн» - автоматический запуск привода при ручном натяжении штор. Настраиваемые электронные концевые положения.
					li Возможность в дальнейшем использовать все приводы от компании Somfy вместе по радио технологии RTS и Home Motion by Somfy.
					li Использование функции MY – предпочтительного промежуточного положения штор.	
	.panel.panel-default
		.panel-heading#heading5(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse3", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse3") Вопрос №3
		.panel-collapse.collapse#collapse3(role="tabpanel", aria-labelledby="heading3")
			.panel-body
				|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Переулка дал пояс текста вскоре единственное взгляд города имеет, дорогу моей алфавит заголовок рыбными? Первую, ipsum семантика которое проектах но инициал даже взгляд, наш выйти свой моей о. Запятой даже обеспечивает предупреждал если грустный возвращайся речью на берегу, реторический собрал заголовок все города рукопись составитель силуэт. Семантика предупредила пояс, напоивший заголовок дороге своего строчка, ipsum вскоре родного речью гор это то журчит заглавных подпоясал себя большого своих грамматики большой пор. Ipsum своих но ведущими города меня знаках текст свой lorem снова? Взгляд назад силуэт ее имеет, бросил ты точках знаках то.
	.panel.panel-default
		.panel-heading#heading4(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse4", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse4") Вопрос №4
		.panel-collapse.collapse#collapse4(role="tabpanel", aria-labelledby="heading12")
			.panel-body
				|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Переулка дал пояс текста вскоре единственное взгляд города имеет, дорогу моей алфавит заголовок рыбными? Первую, ipsum семантика которое проектах но инициал даже взгляд, наш выйти свой моей о. Запятой даже обеспечивает предупреждал если грустный возвращайся речью на берегу, реторический собрал заголовок все города рукопись составитель силуэт. Семантика предупредила пояс, напоивший заголовок дороге своего строчка, ipsum вскоре родного речью гор это то журчит заглавных подпоясал себя большого своих грамматики большой пор. Ipsum своих но ведущими города меня знаках текст свой lorem снова? Взгляд назад силуэт ее имеет, бросил ты точках знаках то.
	.panel.panel-default
		.panel-heading#heading9(role="tab")
			h4.panel-title
				a.collapsed(href="#collapse5", data-toggle="collapse" data-parent="#accordion", role="tabpanel", aria-expanded="false", aria-controls="collapse5") Вопрос №5
		.panel-collapse.collapse#collapse5(role="tabpanel", aria-labelledby="heading5")
			.panel-body
				|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Переулка дал пояс текста вскоре единственное взгляд города имеет, дорогу моей алфавит заголовок рыбными? Первую, ipsum семантика которое проектах но инициал даже взгляд, наш выйти свой моей о. Запятой даже обеспечивает предупреждал если грустный возвращайся речью на берегу, реторический собрал заголовок все города рукопись составитель силуэт. Семантика предупредила пояс, напоивший заголовок дороге своего строчка, ipsum вскоре родного речью гор это то журчит заглавных подпоясал себя большого своих грамматики большой пор. Ipsum своих но ведущими города меня знаках текст свой lorem снова? Взгляд назад силуэт ее имеет, бросил ты точках знаках то.
