.embed-responsive.embed-responsive-16by9.visible-xs-block.visible-sm-block
	<iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/2D9JhoNe-Jo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>	
.visible-md-block.visible-lg-block
	<iframe class="embed-responsive-item center-block" width="560" height="315" src="//www.youtube-nocookie.com/embed/2D9JhoNe-Jo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
.div-padding
	.row
		.col-md-10.col-md-offset-1
			|Somfy является мировым лидером по производству специализированных двигателей и систем управления электрическими карнизами для штор, жалюзи, выдвижными маркизами, рольставнями, проекционными экранами для жилых и коммерческих помещений.
			h4 В Цифрах и фактах
			|Являясь общепризнанным лидером в отрасли уже 45 лет, Somfy производит более 110 миллионов моторов, начиная с 1980 года для клиентов в более чем 60 различных стран, создавая базу более чем на 270 миллионов пользователей по всему миру.
			|С производственной мощностью около 70 000 двигателей в день, Somfy является золотым стандартом качества и надежности в отрасли электромоторов. Somfy с гордостью предоставляет 5-летнюю полную гарантию на каждый продукт, который производит.
			|100% продуктов от Somfy проходят проверку на качество в арт-центре тестирования.
			|Успех компании обусловлен огромным опытом работы в отрасли, качеством изделий и инновационных продуктов, а также приверженностью к бережному обслуживанию своих клиентов.
			.row
				.col-md-6
					h4 История
					|Начало компании Somfy, корни которой уходят аж в 1750 год, когда ремесленники производили в долине Арве комплектующие для Женевских часовщиков. В 1868 году, часовщик из Пьемонта, прошедший обучение в часовом колледже, решил обосноваться в г.Клюз, в городе промышленников и ремесленников. Сначала компания называлась Carpano & Pons и занималась производством катушек для спиннингов.
				.col-md-6
					img(src="img/somfy_products_old.jpg")	
			.row	
				.col-md-6
					img(src="img/somfy_motor_old.jpg")
				.col-md-6
					h4 1969 - рождение внутривального мотора
					|Компания Somfy возникла случайно в период экономического спада и низкой активности бизнесменов Франции. Филипп Зольнер, директор в то время, искал для Somfy развитие своей компании. В тоже время местный производитель маркиз и тентов от солнца разрабатывал возможность автоматизации своих продуктов. Он связался многими компаниями в Фосиньи (область в долине Арве, которая переходит из Женевы в Клюз) но Somfy была единственной компанией, которая отреагировала и смогла изготовить прототип. В 1969 году, Somfy (Societe d''Outillage Mecanique du Faucigny; перевод: Механическая Инструментальная компания из Фасиньи) была сформирована в центре города Клюз, первый двигатель, LS (Leve Store - поднять тент на английском языке), 2 филиала (в Германии и Швеции) и огромный рынок автоматизации солнцезащиты.
			.row	
				.col-md-6
					h4 1981 – Первое автоматическое управление. 
					|В 1981 году, в DICA-исследовательской лаборатории было разработано первое автоматическое управление: небольшой ящик, который автоматически регулирует положение маркиз при разных погодных условиях. В 1982 году, лаборатория DICA была переименована Somfy. Наконец, компания и её продукты стали называться Somfy.
					|В дальнейшем фирма Somfy начала производство двигателей и систем управления. С инновационными решениями, Somfy начала думать о новой продукции для новых рынков. Со своей системой Fabric Tension System (FTS) - автоматическая солнцезащитная система для веранд и оранжерей, компания Somfy столкнулась с новыми потребностями.
				.col-md-6
					img(src="img/somfy_controller_old.jpg")