.row
.col-md-8.col-centered.col-md-offset-2
	p.lead.text-center Почему карниз для штор с электроприводом Glydea от Somfy?
	p Электрокарниз Glydea от ведущего мирового бренда в сфере солнцезащиты – французской компании Somfy появился в России относительно недавно и сразу завоевал лидирующую позицию на рынке автоматизации и солнцезащиты квартир и загородных домов, а также офисных помещений высокого класса.
	p Достоинствами электрокарниза является доступность для потребителя, многообразие вариантов управления и широкая функциональность устройства привода для штор Glydea.
	p Инновации от фирмы Somfy ставят настолько недостижимую планку для таких признаных кокурентов в сфере автоматизации как Silent Gliss, Moturra и Lutron.
	p Благодаря высокому качеству производимых комплектующих карниза Somfy Glydea мы предлагаем срок обслуживания данного продукта в течении 5 лет со дня продажи.
.div-
	.embed-responsive.embed-responsive-16by9.visible-xs-block.visible-sm-block
		<iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/fdQFevg2w7I?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
	.visible-md-block.visible-lg-block
		<iframe style="width: 853px; height: 480px" class="embed-responsive-item center-block" src="//www.youtube-nocookie.com/embed/fdQFevg2w7I?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
.row.index-infoblock
	.col-md-6
		h3 Aesthetic
		ul
			li Clean premium design with brushed aluminum finish.
			li Adjustable limit setting provides alignment of drapery fabric.
			li Patented control module cover design conceals unsightly cables and protects the connectors and control modules inside the motor.
			li Advanced track design and swivel ceiling bracket minimize the light gap.
			li Soft start and soft stop.
			li Improved arm design provides even overlap and even stacks back.	
		h3 Flexibility
		ul
			li Patented flexible master carrier reduces friction and is adaptable to various drapery types.
			li Various control modules allow Glydea® to easily integrate with third party control protocols.
			li Drapery Track is available with custom curves and bends.
			li Exclusive cable cover allows you to reverse cable direction for easier access to power.
			li Adjustable speed control.
	.col-md-6
		h3 Easy Installation
		ul
			li Spring loaded one-touch hardware (wall and ceiling mount).
			li On center opening tracks, motor can be installed to the right or to the left side of the track.
			li Automatic or adjustable limit setting.
			li Inverse (top mount) option allows the motor to be installed above the track.
		h3 Efficient
		ul
			li Touch Motion feature allows the user to activate the motorized drapery simply by pulling on the fabric. Two sensitivity settings available.
			li Manual Override disengages the motor when drapery is adjusted manually. This is ideal for power outages and also protects the fabric from damage.
			li My Function allows user to set a preferred drapery openness position for a quick access.
		h3 Quiet
		ul
			li Motor design and advanced high performance belt drive system provide quiet operation (44dBA).
