p.lead.text-center
	| Почему карниз для штор с электроприводом Glydea от Somfy?
p Электрокарниз Glydea от ведущего мирового бренда в сфере солнцезащиты – французской компании Somfy появился в России относительно недавно и сразу завоевал лидирующую позицию на рынке автоматизации и солнцезащиты квартир и загородных домов, а также офисных помещений высокого класса.
p Достоинствами электрокарниза является доступность для потребителя, многообразие вариантов управления и широкая функциональность устройства привода для штор Glydea.
p Инновации от фирмы Somfy ставят настолько недостижимую планку для таких признаных кокурентов в сфере автоматизации как Silent Gliss, Moturra и Lutron.
p Благодаря высокому качеству производимых комплектующих карниза Somfy Glydea мы предлагаем срок обслуживания данного продукта в течении 5 лет со дня продажи.
.div-
	.embed-responsive.embed-responsive-16by9.visible-xs-block.visible-sm-block
		<iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/fdQFevg2w7I?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>
	.visible-md-block.visible-lg-block
		<iframe style="width: 853px; height: 480px" class="embed-responsive-item center-block" src="//www.youtube-nocookie.com/embed/fdQFevg2w7I?rel=0&amp;controls=0&amp;showinfo=0" allowfullscreen></iframe>