.fotorama(data-nav="thumbs", data-width="100%", data-height="600 px", data-arrows="true")
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
	.rama-item(data-thumb="http://placehold.it/64x64")
		img(src="http://placehold.it/300x300")
		span.rama-text
			|Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Решила рыбного выйти инициал большой вдали языком взгляд даль своего дороге, снова вскоре он которое? Рекламных заголовок вскоре все предупредила снова послушавшись, это пустился инициал, запятой которой меня там, свою решила лучше толку имеет! Силуэт единственное все продолжил языком оксмокс.
